.outer{
    background-image: url('../../cover.jpg');
    background-size: cover;
    background-position: center;
    height: 91vh;
   
    display: block;
    

    
    text-align: center;
    position: relative;
    
    
}
body{
    color:white;
}
.inner{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);        
    
}
span{
    font-size: large;
}
.custom{
    color: black;
    padding: 20px;;
    border:none;

}
.custom:hover{
    transition: ease-in-out ;
    cursor: pointer;
    background-color:grey;
    color:white
}
.name{
    font-size: 5rem;
}
.infoSection{
    color:black;
    text-align: center;
}
.forflex{
    color:black;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}
.card{
    margin-left: 20px;
    margin-right: 20px;;
    width:350px;
}

   
    

@media (max-width:768px){
     .forflex{
         margin: 0px;
         margin-top: 20px;;
        flex-direction: column;
        
        text-justify: distribute;
        
       
    }

}

.forhr{
    border-top: 2px solid blue;
    background-color: black;
    width: 40px;
    margin: auto;
    margin-bottom: 20px;;

    
}
footer{
    margin-top: 30px;;
    text-align: center;
    color:black;
}